%p
  Yes, i know this page sucks, but until we can afford an undo function please
  bear with it as a way to prevent unsuspecting clients from wildly clicking
  all GET links.
  %br/
  Are you sure you want to delete
  = @name
  ?

%form{:method => :POST, :action => @action}
%input{:type => :submit, :value => 'Yes'}
