%h1
  Diff
  %a{:href => r(:show, @sha, @name)}= h(@sha)
  to
  %a{:href => r(@name)}= h(@name)

.uv_select
  %b Select your style
  - current = session[:uv_style]
  - @styles.each do |style|
    %br/
    - if current == style
      = h(style)
    - else
      %a{:href => "?uv_style=#{style}"}= h(style)

.diff~ @text
