.mod
  %b Control:
  - if @page and @page.exists?
    %a{:href => r(:edit, @name)} Edit
    %a{:href => r(:delete, @name)} Delete
    %a{:href => r(:history, @name)} History
  - elsif @name
    %a{:href => r(:edit, @name)} Create

%h1
  History of
  %a{:href => r(@name)}= h @name

.history
  %table
    %tr
      %td Message
      %td Author
      %td Date
      %td Action
    - @history.each_with_index do |log, idx|
      - current = idx == 0
      - style = current ? 'current' : 'old'
      %tr{:class => style}
        %td= h log.message
        %td= h log.author.name
        %td= h log.date
        %td
          - unless current
            %a{:href => r(:diff, log.objectish, @name)} Diff
          %a{:href => r(:show, log.objectish, @name)} Show
