.mod
  %b Control: 
  - if @page and @page.exists?
    %a{:href => r(:edit, @name)} Edit
    %a{:href => r(:delete, @name)} Delete
    %a{:href => r(:history, @name)} History
  - elsif @name
    %a{:href => r(:edit, @name)} Create

.toc
  %b Table of Contents
  ~ @toc
.text~ @html
