<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>MicroWiki <%= h @page %></title>
    <style type="text/css">
      a.exists{ color: #00f; }
      a.missing{ color: #f00; }
      textarea{ width: 90%; height: 20em; }
    </style>
  </head>
  <body>
    <%= @content %>
  </body>
</html>
