<form method="post" action="#{ r :create }">
  <fieldset>
    <legend>Create new task</legend>

    <label for="form_title">Title:</label>
    <input id="form_title" type="text" name="title" />

    <input type="submit" value="Create" />
  </fieldset>
</form>

<table>
  <?r @list.each do |title, done| ?>
    <tr>
      <form method="post" action="#{ r :update }">
        <input type="hidden" name="id" value="#{ h title }" />
        <td>
          <input type="text" name="title" value="#{ h title }" />
        </td>
        <td>
          <?r if done ?>
            <input type="checkbox" name="done" checked="checked" />
          <?r else ?>
            <input type="checkbox" name="done" />
          <?r end ?>
        </td>
        <td>
          <input type="submit" value="Update" />
        </td>
      </form>
      <form method="post" action="#{ r :delete }">
        <input type="hidden" name="id" value="#{ h title }" />
        <td>
          <input type="submit" value="Delete" />
        </td>
      </form>
    </tr>
  <?r end ?>
</table>
