!!! XML
!!!

%html
  %head
    %title Innate Wiki
    %link{:rel => 'stylesheet', :href => '/css/screen.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/css/coderay.css', :type => 'text/css'}
    - if uv_style = session[:uv_style]
      %link{:rel => 'stylesheet', :href => "/css/#{uv_style}.css", :type => 'text/css'}
  %body
    .head
      .title
        %a{:href => '/Home', :alt => 'Home'}
          %h1 Innate Wiki
          %h2 A minimal git based wiki
      .menu
        %a{:href => '/list'} List Pages
        %a{:href => r(:random)} Random Page
        .locale
          %a{:href => r(:language, 'en')} English
          %a{:href => r(:language, 'ja')} 日本語
    .content= content
