!!! XML
!!!

%html
  %head
    %title Ramaze Wiki
    %link{:rel => 'stylesheet', :href => '/css/screen.css', :type => 'text/css'}
  %body
    .menu
      %a{:href => '/list'} List
    .content= content
